%h1 Welcome to groupfood. 

%h2 Select a trip.
%table
  %tr
    %th Trip Name
  - @trips.each do |trip|
    %tr
      %td= link_to trip.name, trip
      
%h3=link_to 'Create a new trip', new_trip_path
