%h1 Welcome to groupfood. 

%h2 Select a trip or create a new one.
%table
  %tr
    %th Name
    %th
    %th
    %th

  - @trips.each do |trip|
    %tr
      %td= link_to trip.name, trip
      
%h3=link_to 'New Trip', new_trip_path
